.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

.list-item {
  max-width: 300px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

.titlee {
  color: #171f46;
  font-size: 18px;
  font-family: 'Roboto';
}

.para {
  color: #64748b;
  font-size: 10px;
  font-family: 'Roboto';
  max-width: 200px;
}

.img-container {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.image {
  height: 80px;
  width: 80px;
}
